<div class="row mt-4 mb-2">
    <div class="col-md-6"></div>
    <div class="col-md-6">
        <form class="d-flex">
            <input class="form-control me-2" [(ngModel)]="ara" name="ara" type="search" id="ara" placeholder="Ara" aria-label="Ara">
        </form>
    </div>
</div>
<table class="table table-stripped">
    
    <thead>
        <tr>
            <th>ID</th>
            <th>Proje</th>
            <th>Açıklama</th>
            <th>Proje Durum</th>
            <th>Takım</th>
            <th>Görevler</th>
            <th>Sonuc Raporları</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let proje of projes | searchPipe:ara">
            <td>{{proje.id}}</td>
            <td>{{proje.proje}}</td>
            <td>{{proje.aciklama}}</td>
            <td>{{proje.projeDurum === 1 ? "Aktif" : "Pasif"}}</td>
            <td>{{proje.takimId}}</td>
            <td><button routerLink="/gorevler/proje/{{proje.id}}" class="btn btn-sm btn-primary">Görevler</button></td>
            <td>
                <p *ngFor="let sonucRaporu of proje.sonucRaporus">{{sonucRaporu.aciklama}} </p>
            </td>
        </tr>
    </tbody>
</table>