<div class="row mt-4 mb-2">
    <div class="col-md-6">
        <div class="col-md-2">
            <button routerLink="/takimlar/add" class="btn btn-sm btn-primary">Yeni Ekle</button>
        </div>
    </div>
    <div class="col-md-6">
        <form class="d-flex">
            <input class="form-control me-2" [(ngModel)]="ara" name="ara" type="search" id="ara" placeholder="Ara" aria-label="Ara">
        </form>
    </div>
</div>
<table class="table table-stripped text-center">
    
    <thead>
        <tr>
            <th>#</th>
            <th>Takım</th>
            <th>Açıklama</th>
            <th>Proje</th>
            <th>Görev</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
   
    <tbody>
        <tr *ngFor="let takim of takimlar | searchPipe:ara">
            <td>{{takim.id}}</td>
            <td>{{takim.takim}}</td>
            <td>{{takim.aciklama}}</td>
            <td><a >Görevler</a></td>
            <td>
                <a>Projeler</a>
            </td>
            <td >
                <button  class="btn btn-sm btn-primary" routerLink="/takimlar/add/{{takim.id}}">Güncelle</button>
            </td>
            <td>
                <button class="btn btn-sm btn-danger" (click)="delete(takim.id)" >Sil</button>
            </td>
        </tr>
    </tbody>
</table>
